:root {
    --hd-bg-clr: #0090c1;
    --bg-clr: #edf6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-clr);
}

/* I use this to make the header fixed when scrolling the library-container */
body > div:first-child {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
}

.dark {
    --_hd-bg-clr: #046e8f;
    --_dark-bg-clr: #0f0e11;
    --_txt-clr: var(--bg-clr);

    color: var(--_txt-clr);
    background-color: var(--_dark-bg-clr);
}

.dark .header {
    background-color: var(--_hd-bg-clr);
}

.dark .library-container {
    background-color: var(--__dark-bg-clr);
}

.header {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hd-bg-clr);
    box-shadow: 0 0 .5rem;
    transition: all .3s ease;
}

button {
    color: inherit;
    padding: 5px 10px;
    font: inherit;
    background-color: inherit;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 2px;
    transition: all .3s ease;
}

button:hover {
    transform: scale(1.1);
    font-weight: 700;
}

.moon {
    display: inline-block;
}

.sun {
    display: none;
}

.dark .moon {
    display: none;
}

.dark .sun {
    display: inline-block;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    transition: all .3s ease;

    /* This is added here */
    overflow: auto;
}

.library-container > div {
    box-shadow: 0 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 1rem;
    transition: all .3s ease;
    height: 250px;
}

.library-container > div:hover {
    transform: scale(1.1);
}

.library-container > div > h4 {
    font-style: italic;
    font-weight: inherit;
}

.book-read {
    background-color: green;
}

dialog {
    width: 60vw;
    text-align: center;
    margin: auto;
    padding: 20px;
    background: radial-gradient(var(--bg-clr), var(--hd-bg-clr));
    border: none;
    border-radius: 1rem;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dialog form > div:last-child {
    display: flex;
    gap: 10px;
    justify-content: center;
}

dialog input {
    border: none;
    border-radius: 10px;
    font: inherit;
}

.icons {
    transition: transform .3s ease;
}

.rotate {
    transform: rotate(1turn);
}